<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    
    
       <section class='signup' id='login'>
    
    <div class='head'>
  <h1 class='company'>privacy here</h1>
  </div>
  <p class='msg'>Welcome back</p>
  <div class='form'>
    <form action="/signup" method="post" >
    
  <input type="text" name="username" placeholder='Username' class='text' id='username' required><br>
  <input type="password" name="password" placeholder='••••••••••••••' class='password'><br>
  <button class='btn-login' id='do-login'>signup</button>
  
    </form>
  </div>

 </section>

   
    
</body>
</html>